<nav>
    <h1>Added to base page using navigation </h1>
    <ol>
        <li> <a href="/">Home</a></li>
        <li>Login parts</li> 
                <ul>
                    <li> <a href="/register" >register</a></li> 
                    <li> <a href="/login">login</a></li> 

                </ul>
        <li>Resume viewing</li>
        
        
                <ul>
                    <li> <a href="{{baseurl}}/uploadResume" >Upload Resume</a></li> 
                    <li> <a href="{{baseurl}}/listResume" >View all resume</a></li>
                </ul>

       <li>Others</li>
                <ul>
                        <li>ex1</li>
                        <li>side1</li> 
                        <li>side2</li> 
                        
                        
                        <li><a href="/product_view">View products</a></li>
                        <li>detail(for db ret)</li>
                        <li><a href="/datad">Add product</a></li>
                </ul>
        
        

       
    </ol>
    
</nav>